*
{
    margin: auto;
    background-image: url(../img/flower3.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
.box{
    align-items:right;
    justify-content:right;
    display:flex;
   
} 
.p .ul{
    font-color:white;
}